version: "3.10"

services:
  backend:
    build: .
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./core:/app
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=django-insecure-4p%-v14=xj)wem==*dw6vyaklsb*h0d=@fc0r1t15z1#sefo2l
      - DEBUG=True
      - DB_HOST=db
      - DB_NAME=mydb
      - DB_USER=saeid
      - DB_PASS=1qaz!QAZ
      - DB_PORT=5432
    depends_on:
      - db
  db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=saeid
      - POSTGRES_PASSWORD=1qaz!QAZ
      - POSTGRES_DB=mydb
    ports:
      - "5432:5432"

volumes:
  postgres_data:
