name: Django-UrlShortener Project Test and Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  Test:
    name: Test

    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: 1qaz!QAZ
          POSTGRES_DB: djangoDB
        options:  >- 
          --health-cmd pg_isready 
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v3
    - name: Setup Docker-Compose
      run: docker-compose up -d
    - name: Format with black
      run: docker exec backend sh -c "black ."
    - name: Lint with flake8
      run: docker exec backend sh -c "flake8 ."
    - name: Run Migration
      run: |
        docker exec backend sh -c "python manage.py makemigrations accounts"
        docker exec backend sh -c "python manage.py makemigrations shortener"
        docker exec backend sh -c "python manage.py migrate"
        docker exec backend sh -c "python manage.py migrate --run-syncdb"
        docker exec backend sh -c "python manage.py check"
    - name: Run Tests
      run: docker exec backend sh -c "python manage.py test"


  Deploy:
    if: ${{ always() && contains(join(needs.*.result, ','), 'success') }}
    name: Deploy
    needs: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Connect and Execute Commands
      uses: appleboy/ssh-action@master
      with:
        username: ${{secrets.USERNAME}}
        password: ${{secrets.PASSWORD}}
        host: ${{secrets.HOST}}
        port: ${{secrets.PORT}}
        script: |
          cd ${{secrets.PROJECT_PATH}}
          docker-compose -f docker-compose-stage.yml stop
          git pull
          docker-compose -f docker-compose-stage.yml up --build
          docker exec backend sh -c "python manage.py makemigrations accounts"
          docker exec backend sh -c "python manage.py makemigrations shortener"
          docker exec backend sh -c "python manage.py migrate"
          docker exec backend sh -c "python manage.py migrate --run-syncdb"
          docker exec backend sh -c "python manage.py check"
